/*
    Decimos que un contenido se desborda cuando la caja 
    es mas pequeña que el contenedor

    overflow:
        es la propiedad que controla que debe hacer la caja
        cuando su contenido se desborda del contenedor.
        es un shorthand que engloba overflow-x y overflow-y
        tiene cuatro posibles valores.

        Visible-> es el valor por defecto.
        hidden-> el contenido que se desborda no se vera.
        si aplicamos esta propiedad en un solo eje, el otro se pondrá 
        automaticamente en el valor scroll.
        Scroll-> apareceran barras de scroll en el eje asignado 
        (x, y o ambos)
        auto-> apareceran barras de scroll en el caso que hiciera falta
*/

* {
    box-sizing: border-box;
}

body {
    background-color: #333;
}

.box{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: #fff;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius:  50px;
}

.box1, .box2{
    padding: 10px;
    background-color: coral;
}

.text{
        margin: 0;
}