/*
Margin: Es la propiedad que nos permite generar espacio entre elementos.
        Es un shorhand(propiedad abreviada) que controla 
        los 4 lados posibles a lo que dar margenes 

        admite hasta 4 valores que van en el orden de las agujas del reloj
        4 valores-> margin:top right bottom left
        3 valores-> margin: top left/right bottom
        2 valores-> margin top/bottom left/right
        1 valor-> margin: all lados

        **lo elementos de linea solo tienen margenes horizontales 

padding: es la propiedad que nos permite generar espacio interno entre 
el borde y la caja 

        4 valores-> padding:top right bottom left
        3 valores-> padding: top left/right bottom
        2 valores-> padding top/bottom left/right
        1 valor-> padding: all lados

Border es la propiedad que permite modificar el borde de la caja 
        es un shorthand que agrupa 3 propiedades 
        border-width: ancho del borde
        border-style: estilo del borde 
        border-color: color del borde   
        
Box-sizing es la propiedad que nos permite controla el calculo que hace el navegador a la hora de 
modificar las propiedades content, padding, y border
     los 2 valores que podemos darle son 
     content-box-> valor por defecto 
     border-box-> calculo de tamaño del elemento
     incluyendo el padding y el border        
*/

/*mala practica
*{
    margin: 0;
    padding: 0;
}
*/

/*se usa el selector universal solo para definir el box-sizing*/
*{
    box-sizing: border-box;
}

body {
    background-color: #333;
    color: #fff;
    margin: 0;
}

.header{
    background-color: steelblue;
}

.title{
    width: 300px;
}

.block {
    background-color: purple;
    width: 200px;
    height: 200px;
    /* margin-top: 100px;
    margin: 0 auto; */
    margin-left: auto;
    margin-right: auto;
    padding:  20px;
    border: 5px solid red;
}

.inline {
    background-color: lightcoral;
    color: inherit;
    /* padding-right: 100px; */
}

.buttons{
    background-color: steelblue;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
}

.button{
    margin-left: 100px;
    padding: 25px;
    /* border: 20px solid red */
    border-width: 5px 15px ;
    border-style: solid dashed dotted none;
    border-color:  red black skyblue yellow;
}