/*
las medidas de css se pueden agrupar en 2 grupos: absolutas y relativas

las medidas absolutas NO CAMBIAN y siempre mantendran su tama単o independiente del 
dispositivo o la interaccion del usuario.
la mas usada es px (pixeles) cuya medida es 1/96 de lin, pero existen otras como:
    cm -> 1cm = 96px/2.54
    mm -> 1mm = 1/10 de 1cm
    Q(Quarto de milimetro) 1Q = 1/ 40 de 1cm
    in(inches, pulgadas) -> 1in = 2.54 cm = 96px
    pc(picas) 1pc = 1/96 de 1in
    pt(puntos) 1pt= 1/72 de 1in

las medidas relativas siempre dependen de un contexto son la que se recomiendan utilizar
la mayoria de ocasiones porque nos va a permitir que todos los elementos escalen proporcionalmente
las usandas son em,rem, %, vw, vh, vmin y vmax aunque tenemos otras como 
    ex-> altura x de la fuente del elemento.
    ch.> la medida del ancho del glifo "0" de la letra del elemento.
    lh-> altura de la linea del elemento

    rem-> corresponde a la medida de la m de la raiz del 
    documento html

    em-> corresponde a la medida de la m del contexto
    donde nos encontremos

    el estandar del tama単o de la fuente por defecto en la raiz del documento es 16px 
    y NO ES RECOMENDABLE MODIFICARLO

    nota: tanto "em" como "rem" se calcula en base a la propiedad fontsize tama単o de la fuente

    para tam単aos de fuente usar siempre rem

    */

body{
    background-color: #333;
    color: lightcoral;
}

.title{
    font-size: 3em;
}

.link{
    background-color: lightcoral;
    color: #333;
    padding: 1em 2em;
    border-radius: 0.5em;
    font-size: 2em;
}
