/*
TIPOGRAFIA
    a los tipos de letra que existen se les denomina fuentes o tipografia

    podemos divirlos en 2 grupos
        familias tipograficas: fuentes especificas con nombre(arial, times new roman, verdana, etc...) 

        familias genericas: segun sus caracteristicas(serif, sans-serif,cursive)

    cuando elegimos una fuente debemos poner fuentes de reserva

    Las propiedades para cambiar el estio de las fuentes/texto son:
        font-family
        font-size
        font-weight
        font-style

        text-transform
        text-align
        text-decoration
        text-indent

        line-height
        letter-spacing

     font-size: establece el tamaño de fuente se define en unidades
        px
        em
        rem
        %
        
        vh
        vw
        vmin
        vmax
    
    font-weight establece el grosor de la fuente
        bold|normal|100-900
    font-style: establece el estilo de tipografias
        normal|italic|oblique        


     text-indent: mueve la primera line de un texto solo en elementos de bloque   

    line-height establece la altura de la linea 
    letter-spacing establce la separacion  de la letras con una medida en 
    cualquier unidad
     

     */

body{
    /* font-size: 30px; */
}

.title{
    font-family: monospace; /*Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;*/
    font-size: 1vh;
}

.box{
    width: 100px;
    height: 100px;
    background-color: hotpink;
}

.box_item{
  line-height: 100px;
letter-spacing: 5px;

}