/*
TIPOGRAFIA
    a los tipos de letra que existen se les denomina fuentes o tipografia

    podemos divirlos en 2 grupos
        familias tipograficas: fuentes especificas con nombre(arial, times new roman, verdana, etc...) 

        familias genericas: segun sus caracteristicas(serif, sans-serif,cursive)

    cuando elegimos una fuente debemos poner fuentes de reserva

    Las propiedades para cambiar el estio de las fuentes/texto son:
        font-family
        font-size
        font-weight
        font-style

        text-transform
        text-align
        text-decoration
        text-indent

        line-height
        letter-spacing
*/

body{
    font-size: 30px;
}

.title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 10vmax;
}