/*

table-layout: Define como se comportan las dimensiones de una tabla
y los anchos de las columnas
    automatic: valor por defecto
    fixed: necesita de un with declarado, si no le da un ancho a 
    cada columna se distribuyen equitativamente

caption-side: define donde se coloca el caption de una tabla 
    top: valor por defecto
    bottom: se coloca al pie de la tabla
    
border-spacing: controla el espacio entre las celdas recibe una 
medida en cualquier unidad 

border collapse: controla si las celdas se mantiene juntas o separdas.
    separate: valor por defecto
    collapse: juntas la celdas para no

empty-cells: controla que hacer con las celdas vacias 
    show: valor por defecto 
    hide: oculta las celdas vacias    

*/


/* .table{
    table-layout: fixed;
    width: 100%;
    text-align: center;
} */

/* .table {
    caption-side: bottom;
} */

.table,
.table__data,
.table__head {
    border: 1px solid black;
    border-spacing: 20px;
}

.table {
    /* border-collapse: collapse; */
    empty-cells: hide;
}

.table__data{
    background: lightblue;
}


.table-container{
    overflow-x: auto;
}