/*
Margin: Es la propiedad que nos permite generar espacio entre elementos.
        Es un shorhand(propiedad abreviada) que controla 
        los 4 lados posibles a lo que dar margenes 

        admite hasta 4 valores que van en el orden de las agujas del reloj
        4 valores-> margin:top right bottom left
        3 valores-> margin: top left/right bottom
        2 valores-> margin top/bottom left/right
        1 valor-> margin: all lados

        **lo elementos de linea solo tienen margenes horizontales 
*/


body {
    background-color: #333;
    color: #fff;
}

.title{
    margin-left: auto;
    width: 300px;
    background-color: coral;
}

.block {
    background-color: purple;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.inline {
    background-color: lightskyblue;
    color: inherit;
    margin-left: 50px;
    /* width: 200px;
    height: 200px; */
}