/*
Pseudoclases

    Son selectores que reaccionan en tiempo real detectando la interaccion del usuario 
    con algunos elementos

    funcionan con todo los selectores de css

    no estan atados a ningun elemento

    su sintaxis es:

        selector:pseudoclases{
            estilos
        }

        :pseudoclases{
            estilos
        }

        Dinamic 
        :link(links) - links no visitado
        :visited(links) - link visitado
        :active(links) - el momento del clic
        :hover -al poner el mouse sobre el elemento
        :focus - cuando el elemento tiene el foco

        Target
         :target - elemento es objetivo de un marcador o ancla

        Language 
        :lang() - elemento que contiene el atributo lang que especificamos 

*/

/* .link:link{
    color: red;
}

.link:visited{
    color: chartreuse;
}

.link:active{
    color: cyan;
    background: red;
} */

/* .title:hover{
    color: blueviolet
}

.button{
    text-decoration: none;
    display: inline-block;
    background-color: red;
    padding: .5em;
    border-radius: 10px;
    color: #fff;
}

.button:active{
    transform: scale(.9);

}

.button:hover{
    color: red;
    background: #fff;
    border: 1px solid;
    border-radius: 10px;
}

.input:focus{
    background: green;
} */


/* .menu {
    background: lightblue;
    display: block;
    padding: 1em;
    text-decoration: none;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.text{
    margin-top: 500px;
    margin-bottom: 500px;
}

.text:target{
    padding-top: 75px;
} */

.span{
    display: block;
}

.span:lang(en){
    color: red;
}

.span:lang(es){
    color: blue;
}
