/*
currentcolor: es una propiedad clave que se puede usar en lugar de cualquier
valor de color y usara el valor ya sea establecido o heredado en la propiedad color
*/

body{
    background-color: mediumorchid;
    /* color: #333; */
}

.main{
    color: aquamarine;
    /* background-color: currentColor; */
}


.box{
    width: 200px;
    height: 200px;
    background-color: coral;
    border: 5px solid currentColor;
}
